@import 'base/_mixins.scss';
//@import 'base/_semantic.less';

@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Oswald);

$bg-color: rgb(20, 20, 20);
$dark-color: rgb(16, 16, 16);
$light-color: #efefef;
$light-border: 1px solid $light-color;
$light-border-double: 2px solid $light-color;
$very-light-color: rgb(50, 50, 50);
$very-light-border: 1px solid $very-light-color;
$very-light-border-double: 2px solid $very-light-color;

:export { bgColor: $bg-color; };

body {
  font-family: 'Ubuntu', 'Oswald', sans-serif !important;
  background-color: $dark-color;
  color: $light-color;
}

#main-wrapper {
  margin-left: 15px;
  margin-right: 15px;
}

.app-header {
  //padding-top: 5px;
  padding-bottom: 5px;
}

.app-title, .app-subtitle {
  display: inline;
  padding: 2px;
}

/*
 * Smeantic UI classes override
 */
//.ui.row {
//  padding-top: 0 !important;
//  padding-bottom: 0 !important;
//}

.ui.tiny.modal {
  background-color: rgba(0, 0, 0, 0.75) !important;
  border: $very-light-border;
  padding: 20px;
}

.ui.inverted.table {
  background-color: rgba(255, 255, 255, 0.05) !important;
  border: $very-light-border;
}

.ui.inverted.tab {
  background-color: rgba(255, 255, 255, 0.01) !important;
}

.ui.menu i.icon {
  font-weight: normal !important;
}

.ui.secondary.inverted.menu .active.item {
  //background-color: blue;
}

/* END */

#project-container {
  padding-bottom: 15px;
}

#playground-container {
  height: 75vh;
  min-height: 200px;
}

#outputs-container {
  //height: 75vh;
  min-height: 515px;
  //overflow: auto;
}

#controls-container {
  position: absolute;
}

.control-button {
  //width: 50px;
  //margin: 3px !important;
}

.machine-settings-button {
  background: $dark-color !important;
  font-weight: normal !important;
  position: absolute;
  top: 7px;
  right: 3px;
}

.machine-settings-button:hover {
  @extend .fa-spin;
}

/* Icon animations */
.fa-spin {
  -webkit-animation: fa-spin 2s infinite linear;
  animation: fa-spin 2s infinite linear;
}
.fa-pulse {
  -webkit-animation: fa-spin 1s infinite steps(8);
  animation: fa-spin 1s infinite steps(8);
}
@-webkit-keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
    }
}
@keyframes fa-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
/* END */

.draggable-panel {
  margin: 15px;
  padding: 15px;
  display: inline-block;
  background-color: $dark-color;
  @include all-sides-shadow(15px, 9px, black);

  header {
    padding-bottom: 15px;
  }
}

.machine-panel {
  min-width: 250px;
  min-height: 100px;
}

.output-panel {
  width: 480px;
  height: 480px;
  ////padding: 15px;
}

.viser-panel .label-with-panel {
}

//#start-button {
//  //position: absolute;
//  //top: 10px;
//  //left: 10px;
//}

.virtualized-data-grid {
  //display: inline-block !important;
  display: inline-flex;
  text-align: center;
  //flex-wrap: wrap;
  //flex-direction: row;
  //justify-content: center;
}

.virtualized-data-grid-header, .virtualized-data-grid-body, .virtualized-data-grid-left-side, .virtualized-data-grid-left-header {
  border: $very-light-border;
}

.virtualized-data-grid-header, .virtualized-data-grid-left-side, .virtualized-data-grid-left-header {
  background-color: rgba(255, 255, 255, 0.04);
  text-transform: capitalize;
  overflow: hidden !important;
  //font-style: italic;
  font-weight: bold;
  z-index: 10;
}

//.virtualized-data-grid-body-cell, .virtualized-data-grid-left-side-cell, .virtualized-data-grid-header-cell, .virtualized-data-grid-left-header {
//  display: table-cell;
//  vertical-align: middle;
//} // doesnt work

.virtualized-data-grid-left-header {
  border-top: $very-light-border-double;
  border-left: $very-light-border-double;
  //border-right: $light-border;
  //border-bottom: $light-border;
}

.virtualized-data-grid-header-cell {
  border-top: $very-light-border;
  border-right: $very-light-border;
  border-bottom: $very-light-border;
}

.virtualized-data-grid-left-side-cell {
  border-right: $very-light-border;
  border-bottom: $very-light-border;
  border-left: $very-light-border;
}

.virtualized-data-grid-body-cell {
  background-color: rgba(255, 255, 255, 0.01);
  border-right: $very-light-border;
  border-bottom: $very-light-border;
}


/*#output {
    margin: 0 auto !important;
}*/

/*.plotly-title-smaller {
    font-size: smaller !important;
    color: red !important;
}*/

/*.cbtitle {
    color: red;
}*/


////@import 'base/_mixins.scss';
//
////$bg: '../img/awesome-backround.png';
//// $bg: '../img/back_grid.gif';
//// $bg: '../img/background-bodyBg.png';
//// $light-color: rgba(28, 28, 28, 0.8);
//// $light-color: #121315;
//$light-color: rgba(18, 19, 21, 0.8);
//// $light-color: rgba(37, 40, 48, 0.8);
//// $nice-color: #252830;
//$nice-color: rgba(37, 40, 48, 0.8);
//$text-color: rgb(188, 188, 188);
//
//$dark-orange-color: rgb(248, 128, 23);
//
//
//body {
//  font-family: 'Ubuntu', 'Oswald', sans-serif;
//  //background-image: url($bg);
//  background-color: black;
//}
//
//nav {
//  background-color: $dark-color;
//  color: $text-color;
//  font-size: 14px;
//  // height: 50px;
//  // font-family: 'Oswald', sans-serif;
//}
//
//.nav-item.active {
//  // color: orange !important;  // nie działa
//}
//
//.nav-item:hover {
//  // background-color: $light-color;
//  background-color: black;
//  -moz-box-shadow:    0px 0px 6px 4px black;
//  -webkit-box-shadow: 0px 0px 6px 4px black;
//  box-shadow:         0px 0px 6px 4px black;
//  // -moz-box-shadow:    inset 0px 0px 6px 3px rgba(16, 16, 16, 0.8);
//  // -webkit-box-shadow: inset 0px 0px 6px 3px rgba(16, 16, 16, 0.8);
//  // box-shadow:         inset 0px 0px 6px 3px rgba(16, 16, 16, 0.8);
//}
//
//#search-input, #search-button {
//  height: 30px;
//}
//
//#search-button {
//  color: $text-color;
//  border-color: $text-color;
//}
//
//body {
//  position: relative;
//  overflow: hidden;
//}
//
//.MJXc-display {
//  overflow-x: auto;
//  overflow-y: hidden;
//}
//
//#content {
//  position: relative;
//  overflow: hidden;
//  min-height: 1000px !important;
//  height: 1000px !important;
//  margin-top: 80px;
//  margin-bottom: 20px;
//  // padding-top: 10px;
//  // padding-bottom: 10px;
//  background-color: $light-color;
//  // color: rgb(108, 117, 125);
//  color: $text-color;
//  @include all-sides-shadow;
//}
//
//#content {
//  section, header {
//    padding-top: 20px;
//    padding-bottom: 20px;
//  }
//}
//
//a {
//  color: orange;
//}
//
//a:hover {
//  color: $dark-orange-color;
//}
//
//::selection {
//  background-color: rgb(0, 128, 128);
//}
//
//::-moz-selection {
//  background-color: rgb(0, 128, 128);
//}
//
//.footer {
//  position: fixed;
//  bottom: 0;
//  right: 0;
//  // width: 100%;
//  height: 45px; /* Set the fixed height of the footer here */
//  line-height: 40px; /* Vertically center the text there */
//  background-color: $dark-color;
//  padding: 0 10px;
//}
//
//::-webkit-scrollbar {
//  width: 8px;
//}
//
//::-webkit-scrollbar-track {
//  // box-shadow: 0 0 5px black;
//  // -moz-box-shadow:    0px 0px 20px 10px black;
//  // -webkit-box-shadow: 0px 0px 20px 10px black;
//  // box-shadow:         0px 0px 20px 10px grey;
//  border-radius: 8px;
//}
//
//::-webkit-scrollbar-thumb {
//  background: orange;
//  border-radius: 8px;
//}
//
//::-webkit-scrollbar-thumb:hover {
//  background: orange;
//}
