@mixin all-sides-shadow($blur, $spread, $color) {
  -webkit-box-shadow: 0 0 $blur $spread $color;
  -moz-box-shadow:    0 0 $blur $spread $color;
  box-shadow:         0 0 $blur $spread $color;
}
